<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        {% if breed %}
        The breed you entered is {{breed}}
        Update it in the form below:
        {% else %}
        Plese enter your breed:
        {% endif %}
    </p>
    
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.breed.label }} {{ form.breed() }}
        {{ form.submit() }}
    </form>
</body>
</html>


